html * {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0px;

  background-image: url(../img/blue-gradient.png);
  background-size: cover;
}

.header-space {
  display: flex;
  height: 50px;
  justify-content: space-between;

  background-color: white;
}

.logo-class {
  display: flex;
  margin-left: 50px;
  align-items: center;
}

.logo-class p {
  margin-left: 5px;
  font-weight: bold;
  margin-top: auto;
  margin-bottom: auto;
}

button {
  height: 30px;
  width: 100px;
  background-color: #0097b2;
  color: white;
  border: none;
  border-radius: 10px;
  margin-top: 10%;
  margin-right: 10px;
}

button:hover {
  background-color: #28a9c3;
  color: #ffffff;
  border-color: black;
  cursor: pointer;
}

#wrapper {
  margin-top: 3%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#info-top {
  display: flex;

  justify-content: space-between;
}

#profile {
  width: 60%;
  display: flex;
  border-radius: 20px;
  background-color: white;
}

#patient-pht {
  height: 120px;
}

#patient-basic-info {
  width: 50%;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: bold;
}

#note-div {
  width: 35%;
  background-color: white;
  border-radius: 20px;
  padding-left: 30px;
  padding-top: 20px;
}

#notes {
  width: 100%;
  height: 100%;
  border-left: #0097b2 solid 5px;
  margin-left: 5%;
  padding-left: 10px;
}

h1 {
  font-weight: bold;
  font-size: large;
}

#info-space {
  display: grid;
  padding: 30px;
  grid-template-columns: 1fr 3px 1fr;
  column-gap: 20px;
  margin-top: 20px;
  border-radius: 20px;
  background-color: white;
  height: 450px;
}

.patient-info {
  padding-left: 20px;
  text-align: left;
  border-radius: 3px;
  text-indent: 0px;
}

#history {
  display: block;
  height: 200px;
  max-height: 200px;
  overflow-y: auto;
}

div.vertical-line {
  background-color: #012350;
  height: 100%;
}

#line {
  width: 0.5px;
  height: 95%;
}

.diagnosis,
.indication {
  width: 95%;
  height: 70px;
  border: 1px solid black;
  border-radius: 10px;
  margin-left: 10px;
  padding-left: 10px;
}

#indications-head {
  margin-top: 2%;
}

.prescription {
  margin-top: 2%;
}

#prescription {
  display: block;
  height: 150px;
  max-height: 150px;
  overflow-y: auto;
}

#drug {
  width: 40%;
}

th {
  text-align: left;
}

td {
  text-align: left;
}

.tab-date {
  width: 20%;
}

tr {
  width: 100%;
  display: table;
  table-layout: fixed;
  height: 20px;
}

tr:hover {
  background-color: #cfcfcf;
}
